<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 异常解析器 -->
    <bean class="com.xmcc.utils.SpringExceptionResolver"></bean>

    <!-- json 返回 view -->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"></bean>

    <!-- 转换 -->
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>


    <!-- 配置视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 设置静态资源不过滤 -->
    <mvc:resources location="/css/" mapping="/css/**"/> <!-- 样 式 -->
    <mvc:resources location="/bootstrap3.3.5/" mapping="/bootstrap3.3.5/**"/> <!-- 图 片 -->
    <mvc:resources location="/js/" mapping="/js/**"/> <!-- javascript -->
    <mvc:resources location="/assets/" mapping="/assets/**"/>
    <mvc:resources location="/ztree/" mapping="/ztree/**"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 配置拦截路径-->
            <mvc:mapping path="/sys/"/>
            <bean id="httpInterceptor" class="com.xmcc.utils.HttpInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>